<div fxFlex fxLayout="row" fxLayoutAlign="start center" class="row">
  <div fxLayoutAlign="center center" class="column">
    <img src="/assets/logo.png" style="height: 50%">
  </div>
  <div>
    <h1 fxLayoutAlign="center center">
      Hi {{ userName }}
    </h1>
    <h3>
      <p>
        Welcome to Vaetas, we are very excited to have you here.
      </p>
      <p>
        Let's quickly setup your account in three easy steps.
      </p>
    </h3>
    <a routerLink="step/1" fxLayoutAlign="center center"><button mat-raised-button>Let's Begin </button> </a>
  </div>
</div>

