<div fxLayout="column" fxLayoutAlign="space-around" class="container">

  <ul class="progressbar" fxLayout="row" fxLayoutAlign="space-around center">
    <li routerLinkActive="active">Link Youtube Account</li>
    <li routerLinkActive="active">Link an Email Account</li>
    <li routerLinkActive="active">Add a CTA</li>
  </ul>
  <router-outlet></router-outlet>
</div>

  <!--<ol fxLayout="row" fxLayoutAlign="space-around center">-->
    <!--<li fxLayout="column" fxLayoutAlign="center center">-->
      <!--<mat-icon> add circle </mat-icon>-->
      <!--Link Youtube Account-->
    <!--</li>-->
    <!--<li fxLayout="column" fxLayoutAlign="center center">-->
      <!--<mat-icon> add circle </mat-icon>-->
      <!--Link an Email Account-->
    <!--</li>-->
    <!--<li fxLayout="column" fxLayoutAlign="center center">-->
      <!--<mat-icon> add circle </mat-icon>-->
      <!--Add a CTA-->
    <!--</li>-->
  <!--</ol>-->


