<div style="width: 450px">
  <img src="/assets/logo-full.png" width="100%" style="margin-bottom: 20px;">
</div>

<mat-card fxflex ="100%">
  <h1>Reset Password</h1>
  <div fxLayout="row" fxLayoutAlign="centre stretch" fxLayoutGap="10px">
    <mat-icon> info </mat-icon>
    <span> Email will be sent to the email id, which will contain a unique link
          to reset the password for your account.</span>
  </div>
  <form fxLayout = "column" fxLayoutAlign="center stretch" fxLayoutGap="10px"
        [formGroup] = "forgetPassword" (ngSubmit) = "onSubmit()">
    <mat-input-container fxLayoutAlign="center stretch">
      <input matInput placeholder="enter your email" formControlName="email">
      <mat-error> Please enter a valid email</mat-error>
    </mat-input-container>

    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap = "15px">

      <button color = 'primary' mat-raised-button>Log In</button>

      <mat-spinner *ngIf= "loading"></mat-spinner>

      <button color = 'primary' mat-raised-button type="submit"
              [disabled] = !forgetPassword.valid>Send email</button>
    </div>
  </form>
</mat-card>
